:root {
  --blue: rgba(3, 4, 94, 1); /* #03045E*/
  --blue1: rgba(2, 62, 138, 1); /* core #023E8A*/
  --blue2: rgba(0, 119, 182, 1); /*#0077B6*/
  --blue3: rgba(0, 150, 199, 1); /*#0096C7*/
  --blue4: rgba(0, 180, 216, 1); /*#00B4D8*/
  --blue5: rgba(72, 202, 228, 1); /*#48CAE4*/
  --blue6: rgba(144, 224, 239, 1); /*#90E0EF*/
  --blue7: rgba(173, 232, 244, 0.6); /*Navbar and footer  #ADE8F4*/
  --blue8: rgba(202, 240, 248, 1); /*Text #CAF0F8*/
}

a {
  color: var(--blue6);
}
p {
  color: var(--blue8);
}
.App {
  text-align: center;
  background-image: radial-gradient(circle, var(--blue) 0%, var(--blue2) 100%);
}
.intro {
  animation: myAnim 5s ease 0s 3 normal forwards;
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MyFooter {
  background-color: var(--blue7);
}

.MyNav {
  background: var(--blue7);
}
.Text {
  color: var(--blue8);
}

.card-header {
  background: var(--blue7);
}

.Contact {
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;
}

.carousel-caption {
  background-color: var(--blue7);
  margin: auto;
  width: 20%;
}
@media (max-width: 500px) {
  .carousel-caption {
    background-color: var(--blue7);
    margin: auto;
    width: 40%;
  }
}

.form::placeholder {
  color: aliceblue;
}

.pad {
  padding-top: 100px;
}
@media (max-width: 992px) {
  .pad {
    padding-top: 0px;
  }
  #responsive-navbar-nav {
    font-weight: 900;
  }
}
.mgn-tp {
  margin-top: 100px;
}
@media (min-width: 992px) {
  #home,
  #service,
  #projects,
  #contact {
    height: 100vh;
  }
}

#input::placeholder {
  color: #61dafb;
}
#input {
  color: white;
}
.a {
  text-decoration: none;
}
